*********************************************************************************************
*                                                                                           *
* DRILL TAPE SUMMARY REPORT                                                                 *
*                                                                                           *
* E:\HXCFLOPPYEMULATOR_IPCORE\PCB\PROD_VERSION_REVC\ORCAD_LAYOUT\CPLDHXCFLOPPYEMULATOR.MAX  *
* Sat Jul 26 14:06:03 2008                                                                  *
*                                                                                           *
*********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       36       242      200      100                                                                                 
T2       38       40       200      100                                                                                 
T3       106      2        200      100                                                                                 
T4       130      4        200      100                                                                                 
